*{
    margin:0;
    padding:0;
    font-size:100px;
}
.bg{
    display:block;
    height:100vh;
    width:100vw;
    position:fixed;
}
.edit{
    width:5.2rem;
    height:3.16rem;
    border:.02rem dashed #fff;
    border-radius:.16rem;
    font-size:0.4rem;
    color:#fff;
}
.name{
    font-size:0.4rem;
    margin-top:.32rem;
    margin-left:.74rem;
}
.name input{
    font-size:0.4rem;
    width:2rem;
    background-color:#2d4642;
    border:none;
    color:#fff;
    outline: none;
}
.sex{
    margin-top:.32rem;
    margin-left:.74rem;
    font-size:0.4rem;
    height:.4rem;
    line-height:.4rem;

}
.chooseImg{
    width:.36rem;
    height:.36rem;
    vertical-align: middle;
}
.testBtn{
    width:3.32rem;
    height:.64rem;
    line-height:.64rem;
    background:rgba(255,255,255,1);
    border-radius:.16rem;
    margin-top:.4rem;
    margin-left:.88rem;
    font-size:0.36rem;
    color:#2B413E;
    text-align: center;
}
.pen{
    width:.72rem;
    height:.36rem;
}
.inputDeal{
    background-color: #2C433F;
}
.flex_col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position:relative;
    height:90vh;
    padding:0.54rem 0 .9rem;
}
.one{
    width:3.58rem;
    height:.54rem;
    margin-left:-2rem;
}
.two{
    width:5.26rem;
    height:1.44rem;
}
.three{
    width:5.4rem;
    height:2.88rem;
}
.four{
    width:4.52rem;
    height:1.16rem;
}